<link rel='stylesheet' type='text/css' href='/css/_header.css'>
<nav id='header_nav'>
    <ul id='right_nav_header'>
        <li><a href='/'>Home</a></li>
        <li><a href='/user/restaurants'>Order Now</a></li>
        
        <li><a href='/user/contact'>Contact Us</a></li>

    </ul> 
    <ul id='left_nav_header'>
 
		<%if(locals.user){%>
			 
			<%if(user.email=="udaysonubakka123@gmail.com"){%>
				<li><a class="btn btn-info" href="/dashboard" role="button">Dashboard</a></li>

			<%}%>
            <li><a class="btn btn-success"  aria-disabled="true" role="button">Logged In as <%=user.name%></a></li>
            <li><a class="btn btn-info" href="/user/signout" role="button">Log Out</a></li>
        <%}else{%>
        <li><a class="btn btn-info" href="/user/signin" role="button">Sign In</a></li>
        <li><a class="btn btn-warning" href="/user/signup" role="button">Sign Up</a></li>
        <%}%>
    </ul>
</nav>




 