<link rel='stylesheet' type='text/css' href='/css/signup.css'>
<div class="container">
    <section id="content">
        <form action="/register" method='post'>
            <h1>Sign Up</h1>
            <div>
                <input type="text" name='name' placeholder="Enter Your name" required id="username" />
            </div>
            <div>
                <input  type="email" name='email' placeholder="Type Email" required id="username" />
            </div>
            <div>
                <input type="password" name='password' placeholder="Type Password" required="" id="username" />
            </div>
            <div>
                <input type="password" name='re_password' placeholder="Re-type Password" required="" id="username" />
            </div>
            <div>
                <input type="number" name='mobile' placeholder="Enter Mobile number" required=""   />
            </div>
            <div>
                <input type="number" name='houseno' placeholder="House Number" required="" id="username" />
            </div>
            <div>
                <input type="text" name='street' placeholder="Street Name" required="" id="username" />
            </div>
            <div>
                <input type="text" name='city' placeholder="City Name" required="" id="username" />
            </div>
            <div>
                <input type="text" name='state' placeholder="State Name" required="" id="username" />
            </div>
            <div>
                <input type="number" name='zip' placeholder="Pin Code" required="" id="username" />
            </div>
          

           
            <div>
                <input type="submit" value="Sign Up" />
                
                <a href="/users/signin">Already have an account? Click here</a>
            </div>
        </form><!-- form -->
        
    </section><!-- content -->
</div><!-- container -->