 
#home_screen{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90vh;
    
}

#home_screen div{
    width:50%;
    height: 100%;
}
#left_home_screen{
    position: relative;
    background-color: antiquewhite;
}
#left_home_screen img{
    width:100%;
    height:100%;
}

#left_home_screen p{
    position: absolute;
    top:40%;
    font-size: 3rem;
    left:20%;
    color:white;
    text-shadow: 2px 2px 2px  rgb(25, 166, 248);
}

#right_home_screen{
     
    box-sizing: border-box;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
#right_home_screen div{
 display:inline-block; 
 height: auto;
 font-size: 3rem; 
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 15px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 50px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
    display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  width: 49%;
  margin-bottom:5px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
#display_msg{
    height:200px;
    overflow-y: scroll;
   
}